.headerFill {
  width: 100%;
  height: 400px;

  .headerWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // position: absolute;
    // top:0;
    // left:0;
    padding-bottom: 30px;
    z-index: 1;
    
    .header {
      font-family: Comic Sans MS;
      color: #716F48;
      -webkit-text-stroke: 3px white;
      font-size: 70px;
      line-height: 0%;
      padding-top: 50px;
    }
  }
}

